body {
  background: #f5f5f5;
  padding: 0;
  margin: 0;
}

#authorize-container {
	text-align: center;
	margin-top: 50px;
}

#authorize {
	background-color: #1db954;
	color: #fff;
	border: none;
	border-radius: 500px;
	font-size: 16px;
	padding: 21px 56px 19px
}

#artist-name {
  border-radius: 10px;
  border: 1px solid #d9dadc;

  height: 28px;
  width: 300px;
  
  padding: 0 10px;
  margin: 0 auto;
  display: block;
}

#search {
	margin: 20px 0;
} 


#loader, #errormessage{
	width: 40px; 
	margin: 0 auto;
	display: block
}

 #errormessage{
 	width: 200px;
 }


.result {
	text-align: center; 
	margin-bottom: 30px;
}

.cover {
	width: 200px;
	height: 200px;
	background-size: 100%;
	display: inline-block;	
}

.album-title {
	display: block;
}

/* Small screens */
@media all and (max-width: 500px) {
	#results {
	    /* On small screens, we are no longer using row direction but column */
	    flex-direction: column;
	 }

	.col-6 {
	max-width: 100%;
	flex: 0 0 100%;
	}
	
	#artist-name {
	width: 80%;
	}

}